 body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;
    color: black;
    background: white;
    margin: 10px;
  }

a {
  text-decoration: none;
  padding-right: 5px;
  padding-left : 5px;
  padding-top: 5px;
  padding-bottom: 3px;
}

a:link {
  color :black;
  background-image: url('left.gif') , url('mid.gif'), url('right.gif');
  background-repeat: no-repeat, no-repeat,  no-repeat; 
  background-position: left top, center top,  right top;
  background-size: auto,  96% 100%, auto;
  border-bottom: 1px solid;
  border-color: #cccccc;
  white-space: nowrap;
}

a:visited {
  font-weight: bold;
  color: black;
}

a:hover {
  color: #cc6600;
}

a:active {
  font-weight: bold;
  color: black;
  background-image: url('left-selected.gif'), url('mid-selected.gif'), url('right-selected.gif');
  background-repeat: no-repeat,no-repeat,  no-repeat; 
  background-position: left top, center top, right top;
  background-size: auto,  95% 100%, auto;
  border-bottom: 1px solid;
  border-style: none;
  border-color: white;
}

table.frame{
   border-collapse:collapse;
   background: white;
   margin: 2px;
   margin-top: 15px;
   width: 100%;
   white-space: nowrap;
}

th.left {
   text-align: center;
   padding-right:0px;
   padding-left: 0px;
   padding-top: 0px;
   padding-bottom: 3px;
   font-weight: normal;
   white-space: nowrap;
}

th.empty_right {
   width: 80%;
   text-align: left;
   padding-right:0px;
   padding-left: 0px;
   padding-top: 0px;
   padding-bottom: 3px;
   font-weight: normal;
   border-bottom: 1px solid;
   border-color: #cccccc;
   white-space: nowrap;
}

th.empty {
   width: 0.5%;
   text-align: center;
   padding-right:0px;
   padding-left: 0px;
   padding-top: 0px;
   padding-bottom: 3px;
   font-weight: normal;
   white-space: nowrap;
   border-bottom: 1px solid;
   border-color: #cccccc;
}
